.slider { 
    margin: 50px auto; 
    position: relative; 
	width: 900px;
	height: 476px;
    /*width: 240px; 
    height: 240px;*/
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

.slider > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
#slideshow
{
	visibility: visible;
}

#slideshow2, #slideshow3 , #slideshow4
{
	position: absolute;
	top: 36px;
	left: 215px;
	visibility: hidden;
}

#selections 
{
	margin-top: 40px;
	margin-left:350px;
}
#selections ul li
{
	list-style-type: none;
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}
